<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../static/favicon.png">
    <link rel="stylesheet" type="text/css" href="../static/opr.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspector</title>
</head>
<body>
    <header >
        <div id="head1">
           Finding Defects In Ultrasonic Welding Parts Using Image Processing
        </div>
        <div id="head_navigation_bar">
            <ul id="head-ul">
                <li class="lic"><a class="head-links" href="/">Home</a></li>
                <li class="headi-li lic"><a class="head-links" href="/">More Projects</a></li>
                <li class="headi-li lic"><a class="head-links" href="/">About Project</a></li>
                <li class="headi-li lic"><a class="head-links" href="/">About Developer</a></li>
                <li class="headi-li lic"><a class="head-links" href="/">Contact Us</a></li>
            </ul>
        </div>
    </header>
    <div id="body">
        <div id="blp">
                <img src="{{uploaded_image}}" alt="Image Loads Here...">
        </div>
        <div id="brp">
            <div id="image-input">
                <form action="/predect" method="post" enctype="multipart/form-data">
                    <label for="image">Please Upload an Image</label>
                    <input type="file" name="image" accept="image/*">
                    <input type="submit" value="Upload">
                </form>
            </div>
            <div class="prediction">
                {% if prediction %}
                <h2 class="pred">Result : </h2>
                <h2 class="pred">{{ prediction }}</h2>
                {% endif %}
            </div>
        </div>
    </div>
</body>


</html>
